<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans h-screen flex">
    
    <aside class="bg-white w-64 shadow-md flex flex-col p-6">
        <div class="flex items-center mb-10">
            <div class ="bg-blue-600 text-white rounded-xl flex justify-center p-2">
                <i data-lucide="graduation-cap" class="w-8 h-8"></i>
            </div>

            <div class="px-3">
                <h1 class="font-bold text-lg">TaskPlan</h1>
                <p class="text-gray-400 text-sm">Student Planner</p>
            </div>
        </div>

        <nav class="flex flex-col gap-4 mb-10">
            <a href="/templates/today.html" class="flex items-center gap-2 px-3 py-2 rounded-lg hover:bg-gray-100">
                <i data-lucide="house"></i>
                <p>Today</p>
            </a>

            <a href="/templates/plan.html" class="flex items-center gap-2 px-3 py-2 rounded-lg hover:bg-gray-100">
                <i data-lucide="calendar"></i>
                <p>Plan</p>
            </a>

            <a href="/templates/insights.html" class="flex items-center gap-2 px-3 py-2 rounded-lg hover:bg-gray-100">
                <i data-lucide="trending-up"></i>
                <p>Insights</p>
            </a>

            <a href="/templates/profile.html" class="flex items-center gap-2 px-3 py-2 rounded-lg hover:bg-gray-100">
                <i data-lucide="user-round"></i>
                <p>Profile</p>
            </a>
        </nav>

        <button class="bg-blue-600 text-white rounded-lg py-3 hover:bg-blue-700 transition">
            + Add Task
        </button>
        
        <p class="text-gray-400 text-xs mt-6 fixed bottom-3">v1.0.0</p>
    </aside>

    
   

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
</body>
</html>