<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container flex">
        <div class="sidebar w-1/3 flex flex-col border border-red-500">
            <div class="header">
                <i data-lucide="graduation-cap"></i>

                <div>
                    <p>TaskPlan</p>
                    <p>Student Planner</p>
                </div>
            </div>

            <div> Today </div>
            <div> Plan </div>
            <div> Inisghts </div>
            <div> Profile </div>
        </div>
        <div class="main-content w-2/3 border-red-500">

        </div>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
</body>
</html>